<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Synergy"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".edu_space.default_app.activity.DefaultAppBarActivity"
            android:exported="false" />


        <activity
            android:name=".edu_space.default_app.activity.DefaultMenuActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.default_app.activity.DefaultLockedScreenActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.default_app.activity.DefaultHomeActivity"
            android:exported="false" />
             <!-- <activity -->
            <!-- <activity -->
        <!-- android:name=".edu_space.default_app.activity.DefaultMenuActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".edu_space.default_app.activity.DefaultLockedScreenActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".edu_space.default_app.activity.DefaultHomeActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".edu_space.default_app.activity.DefaultMessageChattingActivity"
            android:exported="false" /> <!-- 메시지 채팅 화면 -->
        <activity
            android:name=".edu_space.naver.activity.NaverSearchResultActivity"
            android:exported="false" /> <!-- 네이버 검색 결과 화면 -->
        <activity
            android:name=".edu_space.default_app.activity.DefaultAppActivity"
            android:exported="false" /> <!-- 기본 앱 화면 -->
        <activity
            android:name=".main.activity.DigitalStartActivity"
            android:exported="false" /> <!-- 디지털 나이 검사 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
            <!-- 메인화면 -->

        <activity
            android:name=".edu_space.default_app.activity.DefaultMessageActivity"
            android:exported="false" /> <!-- 메시지 화면 -->
        <activity
            android:name=".EduSpaceActivity"
            android:exported="false" /> <!-- 삭제할 거 -->
        <!-- 아이콘 교육 -->
        <activity
            android:name=".edu_space.icon_edu.activity.IconEduActivity"
            android:exported="false" /> <!-- 아이콘 첫 화면 -->
             <!-- 아이콘 첫화면 -->
        <!-- 화면구성 -->
        <activity
            android:name=".edu_space.default_app.activity.MenusActivity"
            android:exported="false" />
             <!-- 아이콘 설명 -->
        <activity
            android:name=".edu_space.icon_edu.activity.IconDetailActivity"
            android:exported="false" /> <!-- 아이콘 첫화면 -->
        <activity
            android:name=".edu_space.move_edu.activity.MoveEduActivity"
            android:exported="false"/>

        <activity android:name=".edu_space.move_edu.activity.MoveDetailActivity"
            android:exported="false"/>
        <!-- <activity -->
        <!-- android:name=".edu_space.icon_edu.activity.IconEduActivity" -->
        <!-- android:exported="false"></activity> &lt;!&ndash; 화면구성 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name=".edu_space.default_app.activity.MenusActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> &lt;!&ndash; 아이콘 설명 &ndash;&gt; -->
        <!-- 화면구성 -->
        <activity
            android:name=".edu_space.screen_layout.ScreenLayoutActivity"
            android:exported="false" /> <!-- 기본앱 활용 -->
        <activity
            android:name=".edu_space.default_app.activity.DefaultPhoneActivity"
            android:exported="false" /> <!-- 전화 화면 -->
        <activity
            android:name=".edu_space.default_app.activity.DefaultPhoneCallActivity"
            android:exported="false"/> <!-- 전화 콜 화면 -->


        <activity
            android:name=".edu_space.default_app.activity.DefaultCameraActivity"
            android:exported="false" /> <!-- 카메라 화면 -->
        <activity
            android:name=".edu_space.default_app.activity.DefaultCameraGalleryViewActivity"
            android:exported="false" /><!-- 카메라 갤러리 뷰 화면 -->

        <!-- 환경설정2 -->
        <!-- 환경설정 시작 -->
        <activity
            android:name=".edu_space.settingedu2.Setting2MainActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".edu_space.settingedu.activity.SettingEduActivity" -->
        <!-- android:exported="true" /> &lt;!&ndash; 환경설정 시작 &ndash;&gt; -->
        <!-- <activity -->
        <activity
            android:name=".edu_space.settingedu2.Setting2DisplayActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.settingedu2.Setting2FontActivity"
            android:exported="false" /> <!-- 계정생성 교육 -->
        <activity
            android:name=".edu_space.accountedu.GoogleMainActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GoogleLoginActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GoogleMakeActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GoogleDefaultInfoActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GoogleMailActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GooglePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GoogleGetCodeActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GooglePutCodeActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.accountedu.GoogleMailAddActivity"
            android:exported="false" /> 

        <activity
            android:name=".edu_space.appinstall.installActivity" 
            android:exported="false" /> <!-- 앱 설치 -->

        <activity
            android:name=".edu_space.appinstall.installMainActivity"
            android:exported="false" /> <!-- 앱 설치 메인 화면 -->

        <activity
            android:name=".edu_space.appinstall.AppInstallMainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".edu_space.kakaotalk.activity.KakaoMainActivity"
            android:exported="false" /> <!-- 카카오톡 메인 화면 -->
        <!-- 카카오톡 메인 화면 -->
        <activity
            android:name=".edu_space.kakaotalk.activity.KakaoProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.kakaotalk.activity.KakaoChattingActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.naver.activity.NaverSearchActivity"
            android:exported="false" /> <!-- 네이버 검색 화면 -->
        <activity
            android:name=".edu_space.naver.activity.NaverActivity"
            android:exported="false" /> <!-- 네이버 화면 -->

        <activity
            android:name=".edu_space.naver.activity.NaverSearchInfoActivity"
            android:exported="false" />
        <!-- 코레일 -->
        <!-- <activity -->
        <!-- android:name=".edu_space.naver.activity.NaverActivity" -->
        <!-- android:exported="false" /> &lt;!&ndash; 코레일 &ndash;&gt; -->
        <!-- 이 부분 아래에 넣어주세요 -->
        <activity
            android:name=".edu_space.ticket.TicketMainActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.ticket.resActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.ticket.Ticket2MainActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.ticket.TpayActivity"
            android:exported="false" /> <!-- 카카오 택시 -->
        <activity
            android:name=".edu_space.kakaotaxi.TaxiMainActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.kakaotaxi.mapActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.kakaotaxi.payMActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.kakaotaxi.payActivity"
            android:exported="false" /> <!-- 배달의 민족 -->
        <activity
            android:name=".edu_space.delivery.DlvMainActivity"
            android:exported="true"/>
        <activity
            android:name=".edu_space.delivery.shopActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.delivery.payDActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.delivery.foodmenuActivity"
            android:exported="false" />
        <activity
            android:name=".backend.BackendTest"
            android:exported="false" /> <!-- TODO : 수진 - backend TEST -->
        <!--
<activity
            android:name=".learning_space.default_app.camera.CameraTest"
            android:exported="false" />
        <activity
            android:name=".learning_space.default_app.camera.LearningDefaultAppCamera"
            android:exported="false" />
        -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- <activity -->
        <!-- android:name=".learning_space.default_app.camera.CameraTest" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".learning_space.default_app.camera.LearningDefaultAppCamera" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".learning_space.intent.LearningScreenActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningDefaultAppActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningSettingActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningInstallActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningKakaotalkActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningKakaotaxiActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningNaverActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningGoogleActivity"
            android:exported="false" />
        <activity
            android:name=".learning_space.intent.LearningIconActivity"

            android:exported="false" />
    </application>

</manifest>