<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Synergy"
        tools:targetApi="31">
        <activity
            android:name=".edu_space.default_app.CallActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.default_app.GalleryViewActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.default_app.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.default_app.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.kakaotalk.activity.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.kakaotalk.activity.ChattingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".edu_space.kakaotalk.activity.KakaotalkLoginActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.kakaotalk.activity.KakaoMainActivity"
            android:exported="false" />

        <!-- 화면구성 교육 -->
        <activity
            android:name=".edu_space.screenEdu.activity.ScreenEduMainActivity"
            android:exported="false" /> <!-- 화면 구성: 1.메인 -->
        <activity
            android:name=".edu_space.screenEdu.activity.ScreenEduToolActivity"
            android:exported="false" /> <!--상단바-->
        <activity
            android:name=".edu_space.screenEdu.activity.ScreenEduBottomActivity"
            android:exported="false" /> <!--하단바-->

        <!-- 아이콘 교육 -->
        <activity
            android:name=".edu_space.icon_edu.activity.IconEduActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.icon_edu.activity.IconDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EduSpaceActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 환경설정 교육 -->
        <activity
            android:name=".edu_space.settingedu.activity.SettingDisplayActivity"
            android:exported="false" />
        <activity
            android:name="com.sungkyul.synergy.edu_space.settingedu.activity.SettingEduActivity"
            android:exported="false" />
        <activity
            android:name="com.sungkyul.synergy.edu_space.settingedu.activity.SettingFontSizeActivity"
            android:exported="false" />
        <activity
            android:name=".edu_space.settingedu.activity.SettingDetailActivity"
            android:exported="false" />
    </application>
</manifest>
